$main: #231F20;
$secondary: #a3a3a3;
$main-bg: #1C191A;
$m-color: #14d181;
$f5: #f5f5f5;

body {
    color: #fff;
    font-family: 'Circe';
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
}

* { 
    margin: 0; 
    padding: 0;
}
*:after
*:before {
    box-sizing: border-box;
}

.p-3 {
    padding: 40px 0 !important;
}

/* ========== NAVBAR ========== */

#logo {
    background: url('../images/logo.png') center center no-repeat transparent;
    background-image: url('../images/logo.svg'), -khtml-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), -webkit-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), url('../images/logo.png');
    background-image: url('../images/logo.svg'), -ms-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), -o-linear-gradient(transparent, transparent);
    background-repeat: no-repeat, no-repeat;
    -moz-background-size: 0 0, 100% 100%;
    background-size: 100% 100%, 0 0;

    display: block;
    height: 24px;
    width: 113px;
    cursor: pointer;

    margin: 10px 0;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
    &-inner {
        margin-left: 20px;
    }

    &-item {
        font-size: 16px;
        font-weight: 300;
        padding: 0.5em 1em;
        color: $secondary;
    }
    &-item:hover {
        color: $m-color;
    }
    &-right {
        display: flex;
        flex-direction: row;
    }
}

.nav{
    &-more {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        display: none;
    
        &-icon {
            width: 20px;
            height: 1px;
            background: $main;
            border-radius: 5px;
            transition: all .3s ease-in-out;
    
            &:before,
            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 1px;
                background: $main;
                border-radius: 5px;
                transition: all .3s ease-in-out;
            }
            &::before {
                transform: translateY(-5px); 
            }
            &::after {
                transform: translateY(5px);
            }
        }
        &.active .nav-more-icon {
            transform: translateX(-20px); 
            background: transparent;
        }
        &.active .nav-more-icon::before {
            transform: rotate(45deg)
            translate(15px, -15px);
        }
        &.active .nav-more-icon::after {
            transform: rotate(-45deg)
            translate(15px, 15px);
        }
    }
}

.social {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px 20px;

    &_link {
        width: 24px;
        height: 24px;

        margin: 0 4px;
        border-radius: 24px;
        background-color: $secondary;
        align-items: center;
        opacity: .5;
        transition: opacity .3s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

#search {
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
    overflow: hidden;

    &_bar {
        padding: 8px;
    }
    &_box {
        width: 100%;
        border-radius: 0;
        padding: 8px 0.8em 7px;
        font-size: 14px;
        font-weight: 300;
        border: 0;
        margin-right: 0 !important;

        &:focus {
            box-shadow: none;
        }
    }
    &_btn{
        text-align: start;
        margin: auto;
        height: 100%;
        border: 0;
        padding: 0 1.2em 0 1em;
        background-color: $main; 
    }
    &_icon {
        color: #fff;
        font-size: 14px;

    }

}

/* ========== INTRO ==========*/

.intro {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 52px;

    &-item{

        &-1 {
            grid-column: 3 / 5;
            grid-row: 1 / 3;
        }
        &-2 {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }
        &-3 {
            grid-column: 2 / 4;
            grid-row: 3 / 4;
        }
        &-4 {
            grid-column: 5 / 6;
            grid-row: 1 / 3;
        }
        &-5 {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &-6 {
            grid-column: 4 / 6;
            grid-row: 3 / 4;
        }
    }

    &_content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        z-index: 1;
        
        overflow: hidden;

        border-radius: 1em;
        background-color: rgba($main, .1);
        font-weight: 300;
        font-size: 20px;

        transition: all .3s ease-in-out;

        &-grad {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            background: linear-gradient(45deg, rgba($main, .05), rgba($main, .05) 100%), linear-gradient(0deg, rgba($f5, 1) 0%, rgba($f5, 0.9) 100%); 

            transition: all .6s ease-in-out;
        }

        &-bg {
            z-index: 1;
            position: absolute;
            width: 200%;
            height: auto;
            background-size: cover 20%;
            

            margin-top: 10%;

            transition: all .8s ease-in-out;
        }

        &-title {
            position: absolute;
            z-index: 4;

            font-weight: 400;
            color: $main;
            text-transform: uppercase;

            transform: 
            translate3d(0px, 0px, 0px) 
            scale3d(1, 1, 1) 
            rotateX(0deg) 
            rotateY(0deg) 
            rotateZ(0deg) 
            skew(0deg, 0deg);
            transform-style: preserve-3d;

            transition: .3s ease-in-out;
        }
    }
    &_content:hover {
        z-index: 3;

        & .intro_content-bg {
            margin-top: 0;
        }
        & .intro_content-grad {
            background: linear-gradient(45deg, rgba($main, .6), rgba($main, .6) 100%), linear-gradient(0deg, rgba($f5, 1) 0%, rgba($f5, 0.8) 100%); 
        }
        & .intro_content-title {
            color: #fff;

            transform: 
            translate3d(0px, 0px, 0px) 
            scale3d(1.1, 1.1, 1.1) 
            rotateX(0deg) 
            rotateY(0deg) 
            rotateZ(0deg) 
            skew(0deg, 0deg);
            transform-style: preserve-3d;
        }
    }
}

#intro {
    background-color: $main-bg;
    padding-bottom: 20px;

    background: $f5;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    &_row {
       height: 33.333333%;
    }

    &_block {
        padding: 8px;
        
        color: #fff;
        text-decoration: none;
    }
    &_inner {
        display: grid;
        grid-template-columns: repeat(5, 1fr)
    }
}



/* ========== SECTION ========== */

.section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    text-align: center;
    align-items: center;

    margin: 0 auto;
    padding: 48px 24px;
}