$main: #231F20;
$main-bg: #1C191A;
$m-color: #14d181;

body {
    color: #fff;
    font-family: 'Circe';
    font-size: 16px;
    font-weight: normal;
    line-height: 100%;
}

* { 
    margin: 0; 
    padding: 0;
}
*:after
*:before {
    box-sizing: border-box;
}

.p-3 {
    padding: 40px 0 !important;
}

/* ========== INTRO ==========*/

.intro {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &_content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;

        border-radius: 2rem;
        background-color: rgba($main, .3);
        font-weight: 300;
        font-size: 20px;

        transform: 
        translate3d(0px, 0px, 0px) 
        scale3d(1, 1, 1) 
        rotateX(0deg) 
        rotateY(0deg) 
        rotateZ(0deg) 
        skew(0deg, 0deg);
        transform-style: preserve-3d;

        transition: .3s ease-in-out;
    }
    &_content:hover {
        z-index: 2;
        background-color: $main;
        opacity: 1;

        transform: 
        translate3d(0px, 0px, 0px) 
        scale3d(1.1, 1.1, 1.1) 
        rotateX(0deg) 
        rotateY(0deg) 
        rotateZ(0deg) 
        skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
}

#intro {
    background-color: $main-bg;
    padding-bottom: 40px;

    &_row {
       height: 33.333333%;
    }

    &_block {
        padding: 10px;
        
        color: #fff;
        text-decoration: none;
    }
}


/* ========== LOGO ==========*/

#logo {
    background: url('../images/logo.png') center center no-repeat transparent;
    background-image: url('../images/logo.svg'), -khtml-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), -webkit-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), url('../images/logo.png');
    background-image: url('../images/logo.svg'), -ms-linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), linear-gradient(transparent, transparent);
    background-image: url('../images/logo.svg'), -o-linear-gradient(transparent, transparent);
    background-repeat: no-repeat, no-repeat;
    -moz-background-size: 0 0, 100% 100%;
    background-size: 100% 100%, 0 0;

    display: block;
    height: 36px;
    width: 169px;
    margin-bottom: 20px;

    &_block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: 300;
        line-height: 140%;
    }
}

/* ========== SEARCH ========== */

#search {
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 2em;
    overflow: hidden;

    &_bar {
        padding: 20px;
    }
    &_box {
        width: 100%;
        height: 48px;
        border-radius: 0;
        padding: 0.5em 1em;
        font-weight: 300;
        border: 0;
        margin-right: 0 !important;
    }
    &_btn{
        text-align: center;
        margin: auto;
        height: 100%;
        border: 0;
        padding: 0 1.2em 0 1em;
        background-color: $m-color; 
    }
    &_icon {
        color: #fff;

    }
}

/* ========== SECTION ========== */

.section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    text-align: center;
    align-items: center;

    margin: 0 auto;
    padding: 48px 24px;
}