/*====================Desktop First====================*/

/*====================Large Devices, Wide Screens====================*/
@media (max-width: 1200px) {


}
/*================================================================*/
/*====================Medium Devices, Desktops====================*/
/*================================================================*/
@media (max-width: 992px) {
    
/*Header*/
    .header {
        padding: 24px 48px;
    }
    
    .header_inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

/*Navigation*/
    .nav {
    font-size: 14px;
    }
    .nav_link {
        margin: 0 0.6vw;
        padding: 8px 1vw;
    }

/*icon_text*/
    .icon_text {
        display: none;
    }
    .phone_icon{
        display: block;
    }

/*Section*/
    .section_title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .section_header {
        max-width: 600px;
    }

/*Comp Logos*/

    .logo_company{
        max-width: 100px;
        margin: 20px 20px;
    }
    
/*About Item*/
    .about_item {
        padding: 0;
        line-height: 120%;
        max-width: 320px;
    }

/*Blog*/
    .blog_preview {
        margin: 10px 5px;        
    }

/*FOOTER*/

    .footer_column_block{
        margin-right: 20px;
    }
    .footer_column{
        margin-right: 20px;
        width: 200px;
    }
    .footer_header{
        font-size: 14px;
    }
    .footer_text {
        font-size: 12px;
    }

}

/*==============================================================*/
/*====================Small Devices, Tablets====================*/
/*==============================================================*/
@media (max-width: 768px) {


/* Intro */

    .intro {
        background-attachment: scroll;
    }

    .intro_subtitle {
        font-size:16px;
        margin: 0 20px 40px 20px;
    }


/* Header */
    .header{
        padding: 24px 24px;
    }
/* icon_text */
    .icon_text {
        display: flex;
    }
    .phone_icon{
        display: none;
    }

/* Logo */
    #logo {
        height: 20px;
        width: 94.5px;
    }

/* Navigation */
    .nav_block{
        display: none;
    }
    .nav_block.active {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 68px;
        left: 0;
        right: 0;
        background: rgba(35, 31, 32, 0.95);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .nav{
        width: 100%;      
        flex-direction: row;
        margin: 0;
        margin-bottom: 10px;
        left: 0;
        right: 0;
        
    }
    .menu_btn {
        display: flex;
    }
    .contacts {
        background: rgba(0, 0, 0, 0.1);
        width: 100%;      
        flex-direction: row;
        padding: 16px 0;
        left: 0;
        right: 0;
    }

/* Section */
    
    .section_title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .section_subtitle {
        font-size: 14px;
        margin-bottom: 40px;
    }
    .section_header {
        max-width: 600px;
    }

/* About Item */
    .about_item {
        padding: 0;
        line-height: 120%;
        max-width: 320px;
    }
    .about_icon {
        width: 16px;
        margin: 0 10px 0 0;
    }
    .about_header {
        font-size: 14px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 14px;
    }
    .about_text{
        font-size: 12px;
        line-height: 120%;
        align-items: flex-start;
    }

/* Comp Logos */

    .logo_company{
        max-width: 80px;
        margin: 20px 20px;
    }

/* Blog */
    .blog_preview{
        max-width: 280px;
    }
    .blog_img{
        height: 160px;
    }
    .blog_title {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .blog_text {
        font-size: 12px;
    }

/* FOOTER */
    .footer_inner{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .footer_column{
        margin-right: 0px;
        align-items: center;
    }
    
    .footer_column_block{
        margin-right: 10px;
        margin-left: 10px;
    }
    .footer_info {
        flex-direction: row;
    }
    .footer_block{
        margin-bottom: 10px;
    }
    .footer_text-style2 {
        margin-top: 0;
    }
    .policy {
        text-align: center;
    }

}


/*===================================================================*/
/*====================Extra Small Devices, icon_texts====================*/
/*===================================================================*/
@media (max-width: 480px) {

/*Intro*/

    .intro_inner {
        padding-top: 0px;
    }
    .intro_title {
        margin-bottom: 10px;
    }
    .intro_subtitle {
        font-size:14px;
        margin: 0 20px 20px 20px;
    }
    
/*Navigation*/

    .menu_btn {
        display: flex;
    }
    .nav{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .nav_link {
        padding: 16px 0;
        font-size: 16px;

        width: 100%;      
        margin: 0;
        left: 0;
        right: 0;
    }

/*Section*/
    
    .section_title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .section_subtitle {
        font-size: 12px;
        margin-bottom: 40px;
    }

/*About Item*/
    .about_item {
        padding: 0 10px 0 10px;
        line-height: 120%;
    }
    .about_icon {
        width: 14px;
        margin: 0 10px 0 0;
    }
    .about_header {
        font-size: 14px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 14px;
    }
    .about_text{
        font-size: 10px;
        line-height: 120%;
        align-items: flex-start;
    }


/*Blog*/
    .blog_preview{
        max-width: 100%;
        margin: 10px auto;
}
    .blog {
        margin-bottom: 20px;
}

/*FOOTER*/
    .footer_column_block{
        margin-right: 15px;
        margin-left: 15px;
        align-items: center;
}
    .footer_block {
        align-items: center;
}

/*Button*/
    .button_default {
        font-size: 14px;
        padding: 12px 64px;
        }
    .button_bordered {
        font-size: 12px; 
        padding: 10px 40px;
        }

        
/*SCROLL UP*/
    #scrollup {
        left: 20px;
    }

    .more_cases {
        font-size: 14px;
    }
}


/*======================================================*/
/*====================Custom, Iicon_text====================*/
/*======================================================*/
@media (max-width: 320px) {
    
/*Header*/
    .header{
        padding: 16px 20px;
    }

    .nav_block.active {
        top: 52px;
    }
    .nav_link{
        font-size: 14px;
    }

    /*icon_text*/
    .icon_text {
        display: none;
    }
    .phone_icon{
        display: block;
    }

    
/*Intro*/
    .intro_inner {
        padding-top: 40px;
    }
    .intro_subtitle {
        font-size: 12px;
    }

/*Logo*/
#logo {
    height: 14px;
    width: 66.15px;
} 

/*Section*/
    
    .section {
        padding: 32px 16px;
    }
    
/*About Item*/
    .about_item {
        padding: 0 0px 0 0px;
        line-height: 120%;
    }
    .about_icon {
        width: 10px;
        margin: 0 5px 0 0;
    }
    .about_header {
        font-size: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 14px;
        line-height: 120%;
    }
    .about_text{
        font-size: 8px;
        line-height: 120%;
        align-items: flex-start;
    }

/*Comp Logos*/

    .logo_company{
        max-width: 50px;
        margin: 20px 20px;
    }

/*Blog*/
    .blog_img{
        height: 120px;
    }
    .blog_inner {
        padding: 1em 0.8em;
    }
    .blog_title {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .blog_text {
        font-size: 10px;
    }
        
/*FOOTER*/
    .footer_header{
        font-size: 12px;
    }
    .footer_text {
        font-size: 10px;
    }
    
}



/*========Mobile First========*/

/*===================================================================*/
/*====================Large Devices, Wide Screens====================*/
/*===================================================================*/
@media (min-width: 1200px) {
    /* */    
}

/*================================================================*/
/*====================Medium Devices, Desktops====================*/
/*================================================================*/
@media (min-width: 992px) {
    /* */    
}

/*==============================================================*/
/*====================Small Devices, Tablets====================*/
/*==============================================================*/
@media (min-width: 768px) {
    /* */    
}
/*===================================================================*/
/*====================Extra Small Devices, icon_texts====================*/
/*===================================================================*/
@media (min-width: 480px) {
    /* */    
}

/*======================================================*/
/*====================Custom, Iicon_text====================*/
/*======================================================*/
@media (min-width: 320px) {
    /* */    
}