/*====================Desktop First====================*/

/*====================Large Devices, Wide Screens====================*/
@media (max-width: 1200px) {


}

/*====================Medium Devices, Desktops====================*/
@media (max-width: 992px) {
    
    /*Header*/
    .header {
        padding: 12px 20px;
    }
    .header_inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    /*Navigation*/
    .nav {
    font-size: 14px;
    }
    .nav_link {
        margin: 4px 15px;
    }

    /*Phone*/
    .phone {
        display: none;
    }

    /*Section*/
    
    .section_title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .section_header {
        max-width: 600px;
    }

    /*Comp Logos*/

    .logo_company{
        max-width: 100px;
        margin: 20px 20px;
    }
    
    /*About Item*/
    .about_item {
        padding: 0;
        line-height: 120%;
        max-width: 320px;
    }

}

/*====================Small Devices, Tablets====================*/
@media (max-width: 768px) {
    
/*Header*/
    
    .header {
        padding: 24px 40px;
    }

    .header_inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

/*Navigation*/

.nav_block {
    display: none;
}
.menu_btn {
    display: flex;
} 

/*Intro*/

    .intro_subtitle {
        font-size:16px;
        margin: 0 20px 40px 20px;
    }

    /*Section*/
    
    .section_title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .section_subtitle {
        font-size: 14px;
        margin-bottom: 60px;
    }
    .section_header {
        max-width: 600px;
    }

/*About Item*/
.about_item {
    padding: 0;
    line-height: 120%;
    max-width: 320px;
}
.about_icon {
    width: 14px;
    margin: 0 10px 0 0;
}
.about_header {
    font-size: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 14px;
}
.about_text{
    font-size: 12px;
    line-height: 120%;
    align-items: flex-start;
}

/*Comp Logos*/

.logo_company{
    max-width: 80px;
    margin: 20px 20px;
}
    
}

/*====================Extra Small Devices, Phones====================*/
@media (max-width: 480px) {

/*Header*/
    
    .header {
        padding: 24px;
    }

    .header_inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

/*Navigation*/
    .nav_block {
        display: none;
    }
    .menu_btn {
        display: flex;
    }

/*Section*/
    
    .section_title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .section_subtitle {
        font-size: 12px;
        margin-bottom: 40px;
    }

/*About Item*/
.about_item {
    padding: 0 10px 0 10px;
    line-height: 120%;
}
.about_icon {
    width: 14px;
    margin: 0 10px 0 0;
}
.about_header {
    font-size: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 14px;
}
.about_text{
    font-size: 10px;
    line-height: 120%;
    align-items: flex-start;
}

/*Intro*/

    .intro {
    background-size: contain 50%;
    }
    .intro_inner {
        padding-top: 0px;
    }
    .intro_title {
        margin-bottom: 20px;
    }
    .intro_subtitle {
        font-size:16px;
        margin: 0 20px 40px 20px;
    }

/*Button*/
    .button_default {
    font-size: 14px;
    padding: 12px 64px;
    }
    .button_bordered {
    font-size: 12px; 
    padding: 10px 40px;
    }
}

/*====================Custom, Iphone====================*/
@media (max-width: 320px) {
    
    /*Header*/
    .header {
        padding: 16px;
    }

    /*Section*/
    
    .section {
        padding: 32px 16px;
    }
    
    /*About Item*/
.about_item {
    padding: 0 0px 0 0px;
    line-height: 120%;
}
.about_icon {
    width: 12px;
    margin: 0 10px 0 0;
}
.about_header {
    font-size: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 14px;
}
.about_text{
    font-size: 8px;
    line-height: 120%;
    align-items: flex-start;
}

    /*Comp Logos*/

    .logo_company{
        max-width: 50px;
        margin: 20px 20px;
    }
    
}



/*========Mobile First========*/

/*====================Large Devices, Wide Screens====================*/
@media (min-width: 1200px) {
    /* */    
}

/*====================Medium Devices, Desktops====================*/
@media (min-width: 992px) {
    /* */    
}

/*====================Small Devices, Tablets====================*/
@media (min-width: 768px) {
    /* */    
}

/*====================Extra Small Devices, Phones====================*/
@media (min-width: 480px) {
    /* */    
}

/*====================Custom, Iphone====================*/
@media (min-width: 320px) {
    /* */    
}