/*========Desktop First========*/

/*Large Devices, Wide Screens*/
@media (max-width: 1200px) {
    /* */    
}

/*Medium Devices, Desktops*/
@media (max-width: 992px) {
    
/*Navigation*/
    .phone {
        display: none;
    }
}

/*Small Devices, Tablets*/
@media (max-width: 768px) {
    
/*Header*/
    
    .header {
        padding: 20px 30px 16px 30px;
    }

    .header_inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

/*Navigation*/
     .nav_block {
        display: none;
    }
    .menu_btn {
        display: flex;
    }  

/*Intro*/

    .intro_subtitle {
        font-size:16px;
        margin: 0 20px 40px 20px;
    }


}

/*Extra Small Devices, Phones*/
@media (max-width: 480px) {


/*Header*/
    
    .header {
        padding: 20px 30px 16px 30px;
    }

    .header_inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

/*Navigation*/
    .nav_block {
        display: none;
    }
    .menu_btn {
        display: flex;
    }

/*Section*/
    .section_title {
        margin-bottom: 10px;
    }

/*Intro*/

    .intro {
    background-size: auto;
    }
    .intro_inner {
        padding-top: 0px;
    }
    .intro_title {
        margin-bottom: 20px;
    }
    .intro_subtitle {
        font-size:16px;
        margin: 0 20px 40px 20px;
    }

/*Button*/
    .button_default {
    font-size: 14px;
    padding: 12px 64px;
    }
    .button_bordered {
    font-size: 12px; 
    padding: 10px 40px;
    }
}

/*Custom, Iphone*/
@media (max-width: 320px) {
    /* */    
}



/*========Mobile First========*/

/*Large Devices, Wide Screens*/
@media (min-width: 1200px) {
    /* */    
}

/*Medium Devices, Desktops*/
@media (min-width: 992px) {
    /* */    
}

/*Small Devices, Tablets*/
@media (min-width: 768px) {
    /* */    
}

/*Extra Small Devices, Phones*/
@media (min-width: 480px) {
    /* */    
}

/*Custom, Iphone*/
@media (min-width: 320px) {
    /* */    
}