/*ExtraBold*/
@font-face {
	font-family: 'Circe';
	src: url('/cmdf5/assets/fonts/CirceExtraBold/Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('/cmdf5/assets/fonts/CirceExtraBold/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/cmdf5/assets/fonts/CirceExtraBold/Circe-ExtraBold.woff') format('woff'),
		url('/cmdf5/assets/fonts/CirceExtraBold/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

/*Bold*/
@font-face {
	font-family: 'Circe';
    font-weight: bold;
	font-style: normal;
	src: url('/cmdf5/assets/fonts/CirceBold/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('/cmdf5/assets/fonts/CirceBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('/cmdf5/assets/fonts/CirceBold/Circe-Bold.woff') format('woff'),
		url('/cmdf5/assets/fonts/CirceBold/Circe-Bold.ttf') format('truetype');
	
}

/*Regular*/
@font-face {
	font-family: 'Circe';
    font-weight: normal;
	font-style: normal;
	src: url('/cmdf5/assets/fonts/CirceRegular');
	src: local('Circe'), local('Circe-Regular'),
		url('/cmdf5/assets/fonts/CirceRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('/cmdf5/assets/fonts/CirceRegular/Circe-Regular.woff') format('woff'),
		url('/cmdf5/assets/fonts/CirceRegular/Circe-Regular.ttf') format('truetype');

}

/*Light*/
@font-face {
	font-family: 'Circe';
    font-weight: 300;
	font-style: normal;
	src: url('/cmdf5/assets/fonts/CirceLight/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('/cmdf5/assets/fonts/CirceLight/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('/cmdf5/assets/fonts/CirceLight/Circe-Light.woff') format('woff'),
		url('/cmdf5/assets/fonts/CirceLight/Circe-Light.ttf') format('truetype');
	
}
@font-face {
	font-family: 'Circe';
	src: url('/cmdf5/assets/fonts/CirceExtraLight/');
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url('/cmdf5/assets/fonts/CirceExtraLight/?#iefix') format('embedded-opentype'),
		url('/cmdf5/assets/fonts/CirceExtraLight/Circe-ExtraLight.woff') format('woff'),
		url('/cmdf5/assets/fonts/CirceExtraLight/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}