/*==============================================*/
/*====================HEADER====================*/
/*==============================================*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0px;
    z-index: 1000;

    background: rgba(35, 31, 32, 0.95);
    backdrop-filter: blur(5px);  
    -webkit-backdrop-filter: blur(5px);
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*Navigation*/
.nav {
    font-size: 16px;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.nav_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.nav_block.active {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.nav_link {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}

.nav_link:hover,
.nav_link:focus {
    color: #19D183;
}
.contacts {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}