body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0D313D;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}
*:after
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

/*========== Header ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 80px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(13, 49, 61, 0.1);
}
.header_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  color: #0D313D;
  font-size: 20px;
  text-transform: uppercase;
  word-wrap: none;
}
.logo-img {
  display: block;
  height: 36px;
  width: 36px;
  background: url("../images/logo.png") center center no-repeat transparent;
  background-image: url("../images/logo.svg"), -khtml-linear-gradient(transparent, transparent);
  background-image: url("../images/logo.svg"), -webkit-linear-gradient(transparent, transparent);
  background-image: url("../images/logo.svg"), url("../images/logo.png");
  background-image: url("../images/logo.svg"), -ms-linear-gradient(transparent, transparent);
  background-image: url("../images/logo.svg"), linear-gradient(transparent, transparent);
  background-image: url("../images/logo.svg"), -o-linear-gradient(transparent, transparent);
  background-repeat: no-repeat, no-repeat;
  -moz-background-size: 0 0, 100% 100%;
  background-size: 100% 100%, 0 0;
  margin-right: 5px;
}
.logo:before {
  display: block;
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: #0D313D;
  left: 149.8px;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.logo:hover::before {
  transform: translateY(-12px);
  opacity: 1;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav_link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #7a7a7a;
  padding: 2px 15px;
  transition: .2s linear;
}
.nav_link:hover {
  color: #0D313D;
}

/*========== INTRO ==========*/
.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/intro/bg.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro_grad {
  width: 100%;
  height: 60vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #fff 0%, #fff 12.85%, rgba(255, 255, 255, 0));
}
.intro_color {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
}
.intro_inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin: 0 80px;
  text-align: start;
  z-index: 2;
}
.intro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro_title {
  display: flex;
  position: relative;
  z-index: inherit;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 36px;
  line-height: 145%;
  color: #0D313D;
  margin-bottom: 20px;
  font-weight: 700;
}
.intro_subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #7a7a7a;
}

/*========== Request ==========*/
.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 100%;
  margin: 20px;
  padding: 0 20px;
  overflow: hidden;
  background-color: rgba(40, 85, 175, 0.1);
}
.request_title {
  color: #0D313D;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.t-input {
  width: 100%;
  padding: 1em;
  font-size: 14px;
  line-height: 1.33;
  border: 0 none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  margin-bottom: 15px;
}

.submit_button {
  width: 100%;
  font-size: 16px;
  padding: 1em;
  color: #fff;
  border: 0 none;
  border-radius: 5px;
  background-color: #2855AF;
  cursor: pointer;
}
.submit_button:hover {
  background-color: #2651A6;
}

/* ========== Section ========== */
.section {
  width: 100%;
  height: 100vw;
}
